@import "variables";

.navbar{
    background-color: #420516;
    .container-fluid{
        .navbar-toggler-icon{
            color: $colorBlanco;
        }
        .navbar-brand{
            color: #ffffff;
        }
        .navbar-brand{
            color: $colorBlanco;
        }
        .collapse{
            .navbar-nav{
                .nav-item:hover{
                    background-color: #FB9300;
                    border-radius: 10px;
                }
                .nav-item{
                    padding: 10px;
                    border-radius: 10px;
                    transition-property: background;
                    transition-duration: 1s;
                    .nav-link{
                        color: $colorBlanco;
                    }
                }
            }
        }
    }
}
.imagen{
    position: absolute;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    img{
        width: 350px;
        height: 100px;
    }
}

.container{
    background-image: url(../img/carousel-1.jpg);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding:10px;
        transition-property: all;
        transition-duration: 1s;
        cursor: pointer;
        
        
        p{
            text-align:center;
        }
    }
    .card:hover{
        background-color: #420516;
        p{
            color: $colorBlanco;
        }
    }
}


@media screen and (max-width:980px){
    .ventaja{
        background-color: #0A1D37;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .ventajas{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            transition: all 1s;
            h3{
                color: $colorBlanco;
            }
            p{
                color: $colorBlanco;
            }
        }
        
    }
}
.ventaja{
    background-color: #0A1D37;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 15px 4px 15px $colorRelleno;
    .img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .ventajas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        transition: all 1s;
        
        }
        h3{
            color:#ffffff;
        }
        p{
            color: $colorBlanco;
        }
    
}

.baner{
    display: flex;
    flex-direction: row-reverse;
    background-color: #420516;
    width: 100%;
    height: 200px;
    .redes{
        
        a{
            i{
                color: #ffffff;
            }
            i:hover{
                color: #FB9300;
            }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        color: #ffffff;
        gap: 10px;
    }
    .direccion{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        i{
            margin: 10px;
        }
    }
}

.Quien{
    display: flex;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #0A1D37;
    box-shadow: 15px 4px 15px 5 $colorRelleno;
    gap: 20px;
    .nosotros-2{
        img{
            width: 300px;
            height: 400px;
        }
    }
    .about-us{
        h5{
            color: #ffffff;
            text-align: center;
        }
        p{
            color: #ffffff;
            text-align: justify;
        }
    }
    .nosotros{
        img{
            width:300px;
            height: 400px;
        }
    }
    .about-us-2{
        p{
            color: #ffffff;
        }
        h5{
            color: #ffffff;
        }
    }
}

.mavi{
    background-color:#FB9300;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    .vision{
        width:33.3%;
        .titulo{
            padding: 20px;
            text-align: center;
            font-size: 30px;
        }
        p{
            text-align: justify;
            font-size: medium;
            font-weight: 700;
        }
    }
    .mision{
        width: 33.3%;
        .titulo{
            padding: 20px;
            text-align: center;
            font-size: 30px;
        }
        p{
            text-align: justify;
            font-size: medium;
            font-weight: 700;
        }
    }
    .objetivo{
        width: 33.3%;
        .titulo{
            padding: 20px;
            text-align: center;
            font-size: 30px;
        }
        p{
            text-align: justify;
            font-size: medium;
            font-weight: 700;
        }
    }
}

@media screen and (max-width:1180px){
    .Quien{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
        background-color: #0A1D37;
        gap: 20px;
        .nosotros-2{
            img{
                width: 300px;
                height: 400px;
            }
        }
        .about-us{
            h5{
                color: #ffffff;
                text-align: center;
            }
            p{
                color: #ffffff;
                text-align: justify;
            }
        }
        .nosotros{
            img{
                width:300px;
                height: 400px;
            }
        }
        
    }
    .mavi{
        width: 100%;
        background-color:#FB9300;
        margin: 30px;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        .vision{
            width:33.3%;
            .titulo{
                padding: 20px;
                text-align: center;
            }
            p{
                text-align: justify;
            }
        }
        .mision{
            width: 33.3%;
            .titulo{
                padding: 20px;
                text-align: center;
            }
            p{
                text-align: justify;
            }
        }
        .objetivo{
            width: 33.3%;
            .titulo{
                padding: 20px;
                text-align: center;
            }
            p{
                text-align: justify;
            }
        }
    }
    
}

.servicio{
    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .servicios{
            position: absolute;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            h4{
                color: $colorBlanco;
                font-size: xx-large;
                text-align: center;
                transition: all 1s;
            }
            h4:hover{
                color: #FB9300;
            }
        }
        .opacity{
            background-color: $colorRelleno;
            background-size: cover;
            position: absolute;
            width:  100%;
            height: 50px;
            opacity: 54%;
        }
        .background{
            display: flex;
            background-image: url(../img/service.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 400px;
        }
    }
}

.list-serv{
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        .lista{
            display: flex;     
            flex-direction: column;      
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 10px;
            width: 400px;
            background-color: #420516;
            box-shadow: 5px 0 5px ;
            border-radius: 10px;
            transition: all 0.5s;
            ul{
                list-style: none;
                li{
                    list-style: circle;
                    color: #ffffff;
                }
            }
            h5{
                color: #ffffff;
            }

            .opciones{
                text-align: left;
            }
            
            p{  
                text-align: center;
                font-weight: 500;
                font-size:20px;
                color: #ffffff;
            }
            i{
                display: flex;
                margin-right: 10px;
                color: #ffffff;
            }
        }

        .lista:hover{
            background-color: #FB9300;
            i{
                color: #420516;
            }
            p{
                color: #420516;
            }
            h5{
                color: #420516;
            }
        }
    }
    .how-service{
        display:flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding:30px 0  0 0;
        .ser{
            background-color: #0A1D37;
            padding: 30px;
            width: 100%;
            p{
                font-size: 20px;
                text-align: justify;
                color: #FB9300;
            }
        }
    }
}

@media screen and (max-width:950px){
    .principal{
        display: flex;
        flex-direction: column;
        .form{
            width: 100%;
            height: 100%;
        }
    }
}

.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px;
    .form{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 10px;
        .direccion{
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background-color: #FB9300;
            padding: 20px;
            p{
                font-family: sans-serif;
                font-weight: 800;
                
                font-size: 15px;
            }
        }
        .formulario{ 
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 5px;
            background-color: #FB9300;
            gap: 5px;
            transition: all .5s;
            textarea{
                border-radius: 5px;
                border-style: none;
            }
            input{
                width: 100%;
                border-radius: 5px;
                border-style: none;
                padding: 5px;
            }
            p{
                padding: 10px;
                input{
                    padding:10px;
                }
            }
        }
    }
    .formulario:hover{
        h4{
            color: #ffffff;
        }
        background-color: #0A1D37;
        p{
            color: #ffffff;
        }
    }
    .contacto{
        width: 100%;
        background-color: #0A1D37;
        border-radius: 5px;
        padding: 40px;
        margin: 30px;
        transition: all .5s;
        p{
            color: $colorBlanco;
            text-align: left;
        }
    }

    .contacto:hover{
        background-color: #FB9300;
        p{
            color: #0A1D37;
        }
    }
}