.navbar {
  background-color: #420516;
}
.navbar .container-fluid .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .container-fluid .navbar-brand {
  color: #ffffff;
}
.navbar .container-fluid .navbar-brand {
  color: #ffffff;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
  background-color: #FB9300;
  border-radius: 10px;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item {
  padding: 10px;
  border-radius: 10px;
  transition-property: background;
  transition-duration: 1s;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.imagen {
  position: absolute;
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.imagen img {
  width: 350px;
  height: 100px;
}

.container {
  background-image: url(../img/carousel-1.jpg);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
}
.cards .card p {
  text-align: center;
}
.cards .card:hover {
  background-color: #420516;
}
.cards .card:hover p {
  color: #ffffff;
}

@media screen and (max-width: 980px) {
  .ventaja {
    background-color: #0A1D37;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .ventaja .ventajas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    transition: all 1s;
  }
  .ventaja .ventajas h3 {
    color: #ffffff;
  }
  .ventaja .ventajas p {
    color: #ffffff;
  }
}
.ventaja {
  background-color: #0A1D37;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 15px 4px 15px #212121;
}
.ventaja .img {
  width: 100%;
}
.ventaja .img img {
  width: 100%;
}
.ventaja .ventajas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  transition: all 1s;
}
.ventaja h3 {
  color: #ffffff;
}
.ventaja p {
  color: #ffffff;
}

.baner {
  display: flex;
  flex-direction: row-reverse;
  background-color: #420516;
  width: 100%;
  height: 200px;
}
.baner .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  color: #ffffff;
  gap: 10px;
}
.baner .redes a i {
  color: #ffffff;
}
.baner .redes a i:hover {
  color: #FB9300;
}
.baner .direccion {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.baner .direccion i {
  margin: 10px;
}

.Quien {
  display: flex;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: #0A1D37;
  box-shadow: 15px 4px 15px 5 #212121;
  gap: 20px;
}
.Quien .nosotros-2 img {
  width: 300px;
  height: 400px;
}
.Quien .about-us h5 {
  color: #ffffff;
  text-align: center;
}
.Quien .about-us p {
  color: #ffffff;
  text-align: justify;
}
.Quien .nosotros img {
  width: 300px;
  height: 400px;
}
.Quien .about-us-2 p {
  color: #ffffff;
}
.Quien .about-us-2 h5 {
  color: #ffffff;
}

.mavi {
  background-color: #FB9300;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.mavi .vision {
  width: 33.3%;
}
.mavi .vision .titulo {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
.mavi .vision p {
  text-align: justify;
  font-size: medium;
  font-weight: 700;
}
.mavi .mision {
  width: 33.3%;
}
.mavi .mision .titulo {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
.mavi .mision p {
  text-align: justify;
  font-size: medium;
  font-weight: 700;
}
.mavi .objetivo {
  width: 33.3%;
}
.mavi .objetivo .titulo {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
.mavi .objetivo p {
  text-align: justify;
  font-size: medium;
  font-weight: 700;
}

@media screen and (max-width: 1180px) {
  .Quien {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    background-color: #0A1D37;
    gap: 20px;
  }
  .Quien .nosotros-2 img {
    width: 300px;
    height: 400px;
  }
  .Quien .about-us h5 {
    color: #ffffff;
    text-align: center;
  }
  .Quien .about-us p {
    color: #ffffff;
    text-align: justify;
  }
  .Quien .nosotros img {
    width: 300px;
    height: 400px;
  }
  .mavi {
    width: 100%;
    background-color: #FB9300;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .mavi .vision {
    width: 33.3%;
  }
  .mavi .vision .titulo {
    padding: 20px;
    text-align: center;
  }
  .mavi .vision p {
    text-align: justify;
  }
  .mavi .mision {
    width: 33.3%;
  }
  .mavi .mision .titulo {
    padding: 20px;
    text-align: center;
  }
  .mavi .mision p {
    text-align: justify;
  }
  .mavi .objetivo {
    width: 33.3%;
  }
  .mavi .objetivo .titulo {
    padding: 20px;
    text-align: center;
  }
  .mavi .objetivo p {
    text-align: justify;
  }
}
.servicio .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicio .service .servicios {
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicio .service .servicios h4 {
  color: #ffffff;
  font-size: xx-large;
  text-align: center;
  transition: all 1s;
}
.servicio .service .servicios h4:hover {
  color: #FB9300;
}
.servicio .service .opacity {
  background-color: #212121;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 50px;
  opacity: 54%;
}
.servicio .service .background {
  display: flex;
  background-image: url(../img/service.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.list-serv {
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-serv .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.list-serv .list .lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 400px;
  background-color: #420516;
  box-shadow: 5px 0 5px;
  border-radius: 10px;
  transition: all 0.5s;
}
.list-serv .list .lista ul {
  list-style: none;
}
.list-serv .list .lista ul li {
  list-style: circle;
  color: #ffffff;
}
.list-serv .list .lista h5 {
  color: #ffffff;
}
.list-serv .list .lista .opciones {
  text-align: left;
}
.list-serv .list .lista p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.list-serv .list .lista i {
  display: flex;
  margin-right: 10px;
  color: #ffffff;
}
.list-serv .list .lista:hover {
  background-color: #FB9300;
}
.list-serv .list .lista:hover i {
  color: #420516;
}
.list-serv .list .lista:hover p {
  color: #420516;
}
.list-serv .list .lista:hover h5 {
  color: #420516;
}
.list-serv .how-service {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}
.list-serv .how-service .ser {
  background-color: #0A1D37;
  padding: 30px;
  width: 100%;
}
.list-serv .how-service .ser p {
  font-size: 20px;
  text-align: justify;
  color: #FB9300;
}

@media screen and (max-width: 950px) {
  .principal {
    display: flex;
    flex-direction: column;
  }
  .principal .form {
    width: 100%;
    height: 100%;
  }
}
.principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 30px;
}
.principal .form {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 10px;
}
.principal .form .direccion {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #FB9300;
  padding: 20px;
}
.principal .form .direccion p {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 15px;
}
.principal .form .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #FB9300;
  gap: 5px;
  transition: all 0.5s;
}
.principal .form .formulario textarea {
  border-radius: 5px;
  border-style: none;
}
.principal .form .formulario input {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}
.principal .form .formulario p {
  padding: 10px;
}
.principal .form .formulario p input {
  padding: 10px;
}
.principal .formulario:hover {
  background-color: #0A1D37;
}
.principal .formulario:hover h4 {
  color: #ffffff;
}
.principal .formulario:hover p {
  color: #ffffff;
}
.principal .contacto {
  width: 100%;
  background-color: #0A1D37;
  border-radius: 5px;
  padding: 40px;
  margin: 30px;
  transition: all 0.5s;
}
.principal .contacto p {
  color: #ffffff;
  text-align: left;
}
.principal .contacto:hover {
  background-color: #FB9300;
}
.principal .contacto:hover p {
  color: #0A1D37;
}